* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: #1f2937;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 15px;
}

.logo {
    margin-left: 150px;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: 150px;
}
a {
    text-decoration: none;
    color: rgb(201, 201, 201);

}